@import '../../styles/variables.scss';

.button {
  border-radius: 12px;
  background: linear-gradient(120deg, #3AB286 22.53%, #3A66B2 91.21%);
  color: $white;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 700;
  padding: 0.8rem 2rem;
  align-items: center;
  display: flex;
  cursor: pointer;

  &:hover {
    background: linear-gradient(45deg, #3AB286 22.53%, #3A66B2 91.21%);
  }

  &Secondary {
    background: $green;
    color: white;

    &:hover {
      background: $darkgreen;
    }
  }
}

