@import '../../styles/variables.scss';

.button {
  border-radius: 12px;
  background: $orange;
  color: $white;
  font-size: 18px;
  font-family: 'Poppins-Bold';
  font-weight: 700;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &Secondary {
    background: $text;
  }
}