@import '../variables.scss';

.main {
  padding: 2rem;
}

.title {
  color: $green;
  font-size: 40px;
  font-style: normal;
  font-family: 'Poppins-Bold';
  font-weight: 700;
  line-height: normal;
}

.container {
  display: flex;
  flex-direction: row;

  section {
    flex: 1;
    margin-top: 1rem;

    &:first-child {
      margin-right: .5rem;
    }

    &:nth-child(2) {
      margin-left: .5rem;
    }
  }
}

.cancelTitle {
  text-align: center;
  color: $text;
  font-size: 25px;
  font-family: 'Poppins-Bold';
  font-weight: 700;
}

.cancelText {
  margin: 1rem 0;
  display: flex;

  p {
    margin-left: 1rem;
    color: $text;
    font-size: 16px;
    font-weight: 400;
  }
}

.cancelActions {
  display: flex;
  justify-content: center;
  align-items: center;

  &>div:first-child {
    margin-right: 1rem;
  }
}