@import '../variables.scss';

.main {
  padding: 2rem;
}

.title {
  color: $green;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  display: flex;
  flex-direction: row;

  section {
    flex: 1;
    margin-top: 1rem;

    &:first-child {
      margin-right: .5rem;
    }

    &:nth-child(2) {
      margin-left: .5rem;
    }
  }
}