@import '../variables.scss';

.loginText {
  color: $text;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 2rem 0;
  padding: 0;

  a {
    color: $green;
    font-weight: 700;
    text-decoration: none;
  }
}

.action {
  align-self: flex-end;
}