@import '../variables.scss';

.formContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  max-height: 600px;
  width:  1000px;
  padding: 0 1rem;
  border: 1px solid $grey;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;

  &__Input {
    border: 1px solid $grey;
    border-radius: 10px;
    flex: 1;

    input {
      background-color: transparent;
      padding: 1rem 0.9rem;
      font-family: 'Poppins';

      &[type='number'] {
        border: none;
      }
    }
  }

  &.errorBorder {
    border: 1px solid $red;
  }

  &__container {
    display: flex;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__row__field,
  &__column__field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin: 1rem .3rem;

    &Others {
      margin-left: 3rem;
    }

    &__selection,
    &__center {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;

      label {
        padding-left: .3rem;
      }

    }

    &__selection {
      margin-left: auto;
    }

    &__label {
      flex: 0;
      white-space: nowrap;
      margin: 0 1rem;
    }

    &__number {
      width: 26px;
      height: 26px;
      background-color: $green;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 18px;
      font-family: 'Poppins-Bold';
      font-weight: 700;
      margin-right: .5rem;
    }
  }
}

.checkboxList {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  
  &__row {
    display: flex;

    & > div {
      flex: 1;
      margin: 0.3rem;
    }
  } 
}

.col {
  flex-direction: column;
}

.next {
  display: flex;
  margin: 0.5rem;
}