@import '../variables.scss';

.servicesForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  border: 1px solid $grey;
  padding: 1rem;
  border-radius: 10px;
}

.noteContainer {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.note {
  margin-left: 1rem;
  color: $text;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.noteText {
  color: $green;
  font-family: 'Poppins-Bold';
  font-weight: 700;
}

.servicesContainer {
  flex: 1;
  margin: 0 1rem;
  padding: 0 1rem;
  max-height: 500px;
  overflow-y: scroll;

  strong {
    color: $green;
    font-size: 16px;
    font-family: 'Poppins-Bold';
    font-weight: 700;
  }

  textarea {
    width: calc(100% - 3rem);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid $grey;
    background: $white;
    color: $text;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
  }
}

.services {
  list-style-type: none;
  padding: 0;

  li {
    cursor: pointer;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: 1px solid $grey;
    background: $white;
    color: $text;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;

    &.selected {
      border-width: 1px;
      border-color: $green;
      background-color: rgba($color: $green, $alpha: 0.15);
    }
  }
}

.buttons {
  display: flex;
  margin: 1rem 0;
  justify-content: flex-end;

  & > div:first-child {
    margin-right: 1rem;
  }
}

.errorMessage {
  font-size: 16px;
  display: block;
  width: 100%;
}