@import '../../styles/variables.scss';

.apptDetails {

  &_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_User {
    display: flex;
    gap: 2rem;
    align-items: center;
    
    span {
      font-size: 16px;
    }

    &Gender {
      background-color: $green;
      padding: 0.2rem 0.4rem;
      border-radius: 10px;
      
      span {
        color: white;
      }
    }
  }

  &_Sub {
    
    p {
      margin-left: 1rem;
    }

    span{
      padding: 0 0.3rem;
      border-radius: 4px;
      margin-left: 2rem;
      font-size: 12px;
      border: 1px solid $grey;
    }
  }

  &_Dateprice {
    justify-content: center;
    margin-top: 1rem;
  }

  &_Divide {
    border: 1px dashed $grey;
  }

  &_OtherDetails {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 16px;
    }
  }

  &_More {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;

    div {
      flex: 1;
      border: 1px solid $grey;
      border-radius: 10px;
      padding: 0.5rem;

      p, h3, li{
        font-size: 15px;
        list-style-type: circle;
      }
    }
  }
}
.appointments {
  &__itemContainer {
    margin: 1rem 0;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    border: 1px solid $grey;
    background: #fff;
  }

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__walkIn{
    border: 1px solid $green;
    background-color: rgba($color: $green, $alpha: 0.05);
  }

  &__title {
    font-size: 16px;
    color: $text;
    font-weight: 400;
    flex: 1;
    padding-right: .5rem;
  }

  &__user {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex: 1;
    font-size: 16px;

    span {
      margin-left: .5rem;
      color: #c3c3c3;
    }
  }

  &__statusContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  &__status {
    font-size: 12px;
    color: $text;
    font-weight: 400;
    border-radius: 19px;
    background-color: $yellow;
    padding: 0.2rem 0.4rem;
    margin-right: 2rem;

    &Confirmed {
      color: $white;
      background-color: $green;
    }

    &Canceled {
      color: $white;
      background-color: $red;
    }

    &Done {
      color: $white;
      background-color: $blue;
    }

    &Rescheduled {
      color: $white;
      background-color: $orange;
    }
  }

  &__details {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__separator {
      margin: 0.6rem 0;
      border: 1px dashed $grey;
    }

    &__row3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: $text; 
      gap: 3rem;
      font-size: 16px;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    &__row2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      color: $text; 
      gap: 3rem;
      font-size: 16px;
      margin-right: 1rem;
    }

    &__row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 5rem;
      color: $text;
      font-size: 16px;

      &Item {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          margin-left: .5rem;
        }

        &Clickable {
          cursor: pointer;
        }
      }
    }
  }
}

.mainAction {
  font-size: 15px;
  font-family: 'Poppins-Bold';
  font-weight: 700;
  border-radius: 19px;
  color: $white;
  background-color: $green;
  padding: .3rem 2rem;
}